params {
    
    // number of samples to be processed in each batch. Recommended 100-200
    batch_size = 10 
    //vcf_list = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/joint_calling/batch1_2/per_chromosome/vcf_list.txt" ///file containing list of inpout VCFs, expects per chromosome VCFs with the same samples
    vcf_dir = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/glimpse_pipe_test/test_vcfs/"
    workdir = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/glimpse_pipe_test/work"
    
}